.header__logo_wiki {
  margin-left: 40px;
  height: 55px;
  width: 155px;
}

.header__logo_hype {
  width:97px;
  height: 55px;
}

@media screen and (max-width: 550px) {
  .header__logo_hype {
    width: 50px;
    height: 28px;
  }

  .header__logo_wiki {
    margin-left: 20px;
    height: 28px;
    width: 96px;
  }
}