.screen__main {
  width: 1002px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 28px 85px 48px 38px;
  

  background: #ffffff;

  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  position: relative;
  // display: flex;
  
}

.screen__main_6 {
  max-width: 820px;
}


.screen__main_8 {
  max-width: 820px;

}