@import './__comment/screen__comment.scss';
@import './__content/screen__content.scss';
@import './__hint/screen__hint.scss';
@import './__main/screen__main.scss';
@import './__number/screen__number.scss';
@import './__option/screen__option.scss';
@import './__title/screen__title.scss';
@import './__bg/screen__bg.scss';
@import './__button/screen__button.scss';
@import './__icon/screen__icon.scss';
@import './__text/screen__text.scss';
@import './__buttons/screen__buttons.scss';
@import './__pre/screen__pre.scss';
@import './__icon-container/screen__icon-container.scss';
@import './__link/screen__link.scss';
@import './__img/screen__img.scss';

.screen {
  // height: 500px;
  border-top: 1px solid $main-bg;
  padding-top: 100px;
  margin-bottom: 250px;
 a {
   text-decoration: none;
 }
}

.screen_5 {
  margin-bottom: 550px;
}