@import './__comment/screen__comment.scss';
@import './__content/screen__content.scss';
@import './__hint/screen__hint.scss';
@import './__main/screen__main.scss';
@import './__number/screen__number.scss';
@import './__option/screen__option.scss';
@import './__title/screen__title.scss';
@import './__bg/screen__bg.scss';
@import './__button/screen__button.scss';
@import './__icon/screen__icon.scss';
@import './__text/screen__text.scss';
@import './__buttons/screen__buttons.scss';
@import './__pre/screen__pre.scss';
@import './__icon-container/screen__icon-container.scss';
@import './__link/screen__link.scss';
@import './__img/screen__img.scss';
@import './__cover/screen__cover.scss';
.screen {
  // height: 500px;
  border-top: 1px solid $main-bg;
  // border: 1px solid red;
  padding-top: 100px;
  margin-bottom: 200px;
  min-height: calc(100vh - 300px);
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .screen {
    margin-bottom: 120px;
    // padding-top: 120px;

  }
}


@media screen and (max-width: 550px) {
  .screen {
    margin-bottom: 70px;
    padding-top: 70px;

  }
}