.screen__title {
  @include quest-title;
  margin-left: -8px;
  max-width: 700px;
}

.screen__title_2 {
  max-width: 854px;
}

.screen__title_4 {
  max-width: 950px;
}

.screen__title_span {
  @include quest-title;
  font-size: 16px;
  color: #A819FB;
  word-wrap: break-word;
  width: 100%;

}

.screen__title_span_7 {
  @include quest-title;
  color: #A819FB;
}

.screen__title_7 {
  margin-bottom: 28px;

}

.screen__title_9 {
  max-width: 100%;
}