.lead__main {
  width: 100%;
  background-color: white;
  border: 20px solid #F5F4F4;
  border-radius: 20px;
  padding: 28px 38px 40px;
  box-sizing: border-box;
  margin-top: -180px;
  margin-bottom: 40px;
}