.lead__main {
  width: 100%;
  background-color: white;
  border: 20px solid #F5F4F4;
  border-radius: 20px;
  padding: 28px 38px 40px;
  box-sizing: border-box;
  margin-top: -180px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .lead__main {
    margin-top: -80px;
    padding: 16px 18px 28px;
    border: 12px solid #F5F4F4;


  }
}

@media screen and (max-width: 550px) {
  .lead__main {
    margin-top: -50px;
    border: none;

  }
}