.footer__share {
  align-self: center;
  display: none;
  flex-direction: column;
}

.footer__share_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 128.9%;
  /* or 23px */
  letter-spacing: 0.01em;
  /* text collor (black) */
  color: #232323;
}

.footer__share_on {
  display: flex;
}

@media screen and (max-width: 390px) {
  .footer__share {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}