.res__content {
  width: 1440px;
  margin: 0 auto;
  // height: calc(100vh - 300px);
  padding-top: 20px;
  // margin-bottom: 200px;

}

@media screen and (max-width: 1439px) {
  .res__content {
    width: 100%;
  }
}