  .res__text {
    @include res-subtitle;
    max-width: 658px;
    text-align: left;
    
  }

  .res_text_1 {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 768px) {
    .res__text {
      font-size: 16px;
    }
  }