.lead__title {
  max-width: 634px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  color: #232323;
  margin-bottom: 28px;
}

@media screen and (max-width: 786px) {
  .lead__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .lead__title {
    max-width: 280px;
  }
}