.lead__content {
  width: 1026px;
  margin: 0 auto;
  
}

@media screen and (max-width: 1026px) {
  .lead__content {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .lead__content {
    width: 100%;
  }
}