.screen__pre {
  display: block;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 128.9%;
  /* or 23px */
  letter-spacing: 0.015em;
  /* Вторичный текст */
  color: #A59BAA;
  max-width: 680px;
  margin: -350px auto 150px;
}

.screen__pre_6 {
  margin: -350px auto 20px;
}

.screen__pre_7 {
  margin: -350px auto 20px;
}