.screen__buttons {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    margin-right: 16px;
  }
}

.screen__buttons_6 {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}


@media screen and (max-width: 480px) {
  .screen__buttons_5 {
    max-width: 300px;
    margin: 0 auto; 
    justify-content: center;
  }
}