.screen__buttons {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
}

.screen__buttons_6 {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
