.screen__icon {
  height: 20px;
  margin-right: 8px;
  margin-left: 20px;
}


.screen__icon_6, .screen__icon_7, .screen__icon_8 , .screen__icon_10 {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .screen__icon {
    margin-left: 0;
  }
}