@import './__content/hurray__content.scss';
@import './__form/hurray__form.scss';
@import './__image/hurray__image.scss';
@import './__subtitle/hurray__subtitle.scss';
@import './__title/hurray__title.scss';

.hurray {
  margin-bottom: 300px;
  display: none;
}

.hurray_on {
  display: block;
}