@import './__content/hurray__content.scss';
@import './__form/hurray__form.scss';
@import './__image/hurray__image.scss';
@import './__subtitle/hurray__subtitle.scss';
@import './__title/hurray__title.scss';

.hurray {
  // margin-bottom: 200px;
  display: none;
  // border: 1px solid red;
  // margin-top: 200px;
  padding-top: 300px;
  margin-bottom: 200px;


}



.hurray_on {
  display: block;
}

@media screen and (max-width: 768px) {
  .hurray {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 550px) {
  .hurray {
    margin-bottom: 70px;
  }
}