.footer__modal {
  background-color: inherit;
  border: none;
  outline: none;
  display: none;
  position: relative;
  cursor: pointer;

  img {
    position: absolute;
    z-index: 1;
    top: calc(50% - 28px);
    right: calc(50% - 28px);
  }
}


.footer__modal_on {
  display: block;
}