.number {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, #D9D4E9 0%, #A090A9 100%);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.19);
  margin-bottom: 12px;
  margin-top: 0;
  text-align: center;
  padding-top: 3.5px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  position: relative;

  letter-spacing: -0.05em;
}

.number__svg {
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  z-index: 1;
  
}

.number_disabled {
  background: linear-gradient(90deg, #D9D4E9 0%, #A090A9 100%);
}

.number_correct {
  background: #24D556
}

.number_wrong {
  background: #F99157;
}

.number_current {
  background: linear-gradient(90deg, #8F6AFF 0%, #AA12FB 100%);
}

