.screen__cover {
  height: 286px;
  width: 100%;
  margin: 0 auto;

}

.screen__cover_5 {
  background: url(./images/screen-5-bg-new.jpg);
  background-size:cover;
}

@media screen and (max-width: 768px) {
  .screen__cover_5 {
    background: none;
  }
}

@media screen and (max-width: 550px) {
  .screen__cover {
    height: 142px;
  }
}
