.header__content {
  width: 1440px;
  height: 336px;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  padding-top: 75px;
  // background: url(./images/header-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}

@media screen and (max-width: 1439px) {
  .header__content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header__content {
    padding-top: 55px;
    height: 264px;
  }
}

@media screen and (max-width: 550px) {
  .header__content {
    height: 135px;
    padding-top: 30px;

  }
}