.form__container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 385px) {
  .form__container {
    text-align: left;
    width: 310px;
    margin: 0 auto;
  }
}