@import './__link/footer__link.scss';
@import './__year/footer__year.scss';
@import './__image/footer__image.scss';
@import './__sign/footer__sign.scss';
@import './__share/footer__share.scss';
@import './__modal/footer__modal.scss';
.footer {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 100px auto 0;
  // border: 1px solid red;
}

.footer_all {
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .footer {
    width: 95%;
  }
}