@import './__link/footer__link.scss';
@import './__year/footer__year.scss';
@import './__image/footer__image.scss';
@import './__sign/footer__sign.scss';
@import './__share/footer__share.scss';
@import './__modal/footer__modal.scss';
@import './__content/footer__content.scss';
.footer {
  max-width: 1440px;
  margin: 100px auto 10px;
  position: relative;
  
}

.footer_all {
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    margin-bottom: 40px;
    margin-top: 50px;
  }
}