.screen__hint {
  display: none;
  max-width: 720px;
  display: flex;
  display: none;
  padding-top: 14px;
  padding-bottom: 28px;
}

.screen__hint_on {
  display: flex;
}

.screen__hint_5 {
  max-width: 780px;
}

.screen__hint_6 {
  max-width: 420px;
}

.screen__hint_7, .screen__hint_8, .screen__hint_10 {
  flex-wrap: wrap;
}

.screen__hint_text {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.005em;
  color: #232323;
}

.screen__hint_text_7 {
  max-width: 600px;
}

.screen__hint_text_8 {
  margin-bottom: 8px;
}

.screen__hint_text_10 {
  margin-bottom: 16px;
  max-width: 100%;

}



.screen__hint_wrong {
  color: $wrong-color;
}

.screen__hint_correct {
  color: $correct-color;
}

