.hurray__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  /* identical to box height */

  /* text collor (black) */

  color: #232323;
}
